@page "/Ccliente"

@using BLL
@using Model

@inject IToastService toast
@*<EditForm Model="list">
    <DataAnnotationsValidator />*@
<div class="card">
    <div class="card-header"style="        background-color: #6378F0
">
        <h3>Consultas De Clientes</h3>
    </div>

    <div class="card-body">
        <div class="input-group mb-4">
            <div class="input-group">

                <label for="filtro">Filtro: </label>
                <select class="form-control ml-3 mr-3" @bind="Filtro">
                    <option value="" disabled selected>Seleccione un filtro</option>
                    <option value="Todo">Todo</option>
                    <option value="ID">ID</option>
                    <option value="Nombre">Nombre</option>
                    <option value="Cedula">cedula</option>
                </select>

                <label for="criterio ml-3 mr-3"> Criterio: </label>
                <input type="search" class="form-control ml-3 mr-3" @bind-value="Criterio" />

                <button type="button" class="btn btn-primary" @onclick="Buscar">Buscar </button>
            </div>
        </div>

        <table class=" table mb-3 mt-3" id="example">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Cedula</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Email</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in lista)
                {
                    <tr class="table-striped">
                        <td>@item.ClienteId</td>
                        <td>@item.Nombre</td>
                        <td>@item.Cedula</td>
                        <td>@item.Telefono</td>
                        <td>@item.Direccion</td>
                        <td>@item.Email</td>
                        <td>@item.Fecha</td>
                    </tr>
                }


            </tbody>
        </table>
    </div>

</div>
@*</EditForm>*@


@code {

    private List<Clientes> lista { get; set; }
    //  private List<Usuarios> listapaginada { get; set; }

    private string Filtro { get; set; }
    private string Criterio { get; set; }







    protected override void OnInitialized()
    {
        lista = ClienteBLL.GetList(C => true);
        Filtro = "Todo";

    }







    private void Buscar()
    {
        try
        {
            if (Filtro == null)
            {
                toast.ShowWarning("Selecciones un filtro");
            }
            else
            {
                if (Filtro != null)
                {

                    switch (Filtro)
                    {
                        case "Todo":
                            lista= ClienteBLL.GetList(e => true);

                            break;
                        case "Id":
                            lista = ClienteBLL.GetList(e => e.ClienteId == Convert.ToInt32(Criterio));
                            break;
                        case "Nombre":
                            lista = ClienteBLL.GetList(e => e.Nombre == Criterio);
                            break;
                        case "Cedula":
                            lista = ClienteBLL.GetList(e => e.Cedula == Criterio);
                            break;

                    }
                }
                else
                {
                    toast.ShowWarning("debes de insertar un dato al criterio");
                }
            }
        }
        catch (Exception)
        {
            throw;
        }
    }
}