@page "/REntradaArticulos"
@page "/REntradaArticulos/{EntradasArtId:int}"

@inject IToastService toast
@using AutosoftService.Model;
@using AutosoftService.BLL;




    <EditForm Model="entradasArticulos" OnValidSubmit="Guardar">
        <DataAnnotationsValidator></DataAnnotationsValidator>

        <div class="card">


            <div class="card-header">
                <div class="text-center">
                    <h3>Entrada de Entrada de Articulo</h3>
                </div>
            </div>

            <div class="card-body">



                <form>
                    <div class="form-row">

                        <div class="col-sm-0     col-md-0     col-lg-1     col-xl-1"></div>


                        <div class="form-group col-sm-5     col-md-5     col-lg-3     col-xl-3     ">
                            <label><b>Entrada ID</b></label>
                            <div class="input-group">
                                <InputNumber @bind-Value="@entradasArticulos.EntradasArtId" class="form-control"></InputNumber>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary" @onclick="Buscar"><span class="oi oi-magnifying-glass">Buscar</span></button>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-3     col-md-2     col-lg-4     col-xl-4" />

                        <div class="form-group col-sm-4     col-md-5     col-lg-3     col-xl-3     ">
                            <label><b>Fecha</b></label>
                            <InputDate @bind-Value="@entradasArticulos.Fecha" class="form-control" />
                        </div>



                        <div class="col-sm-2   col-md-2   col-lg-0  col-xl-0" />


                        <div class="form-group col-sm-8     col-md-8     col-lg-8     col-xl-8    ">
                            <label><b>Articulo</b></label>
                            <div class="input-group ">

                                <InputSelect @bind-Value="@ArticuloSelect" class="form-control" @onchange="LlenaCombo" @onclick="LlenaCombo">
                                    <option value="0" disabled selected>Seleccione un Articulo</option>
                                    @if (listaarticulos.Count == 0)
                                    {
                                        <option value="" disabled>No hay Articulo Registrado</option>
                                    }
                                    else
                                    {
                                        @foreach (var item in listaarticulos)
                                        {
                                            <option value="@item.ArticuloId">@item.Descripcion</option>
                                        }
                                    }
                                </InputSelect>
                                <ValidationMessage For="@(()=>entradasArticulos.ArticuloId)" />
                            </div>
                        </div>

                        <div class="form-group col-sm-4     col-md-4     col-lg-1    col-xl-1     "></div>

                        <div class="col-sm-2   col-md-2   col-lg-0  col-xl-0" />

                        <div class="form-group col-sm-6     col-md-6     col-lg-4     col-xl-4    ">
                            <label><b>Cantidad</b></label>
                            <div class="input-group ">
                                <InputNumber @bind-Value="@entradasArticulos.Cantidad" class="form-control"></InputNumber>
                            </div>
                        </div>

                    </div>


                </form>

            </div>



            <div class="card-footer">
                <div class="form-group text-center" display: inline-block>
                    <button type="button" class="btn btn-lg btn-primary" @onclick="Limpiar"><i class="fa fa-plus"></i> Nuevo</button>
                    <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-save"></i> Guardar</button>
                    <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar"><i class="fa fa-trash"></i> Eliminar</button>
                </div>
            </div>



        </div>


    </EditForm>


@code {

    [Parameter]
    public int EntradasArtId { get; set; }

    private EntradasArticulos entradasArticulos = new EntradasArticulos();

    Articulos articulos = new Articulos();
    ArticuloBLL articuloBLL = new ArticuloBLL();
    private List<Articulos> listaarticulos = new List<Articulos>();
    private string ArticuloSelect { get; set; }





    protected override void OnInitialized()
    {

        listaarticulos = ArticuloBLL.GetList(e => true);
        entradasArticulos = new EntradasArticulos();
        Limpiar();
      
        if (EntradasArtId != 0)
        {
            entradasArticulos.EntradasArtId = EntradasArtId;
            Buscar();
        }
        base.OnInitialized();
    }


    private void Buscar()
    {
        EntradasArticulos entradaTemp = BLL.EntradaArtBLL.Buscar(entradasArticulos.EntradasArtId);

        if (entradaTemp != null)
        {
            Limpiar();
            entradasArticulos = entradaTemp;
            ArticuloSelect = entradasArticulos.EntradasArtId.ToString();


        }
        else
        {

            Limpiar();
            toast.ShowError("La Entrada no Existe", "Fallo");

        }
    }


    private void Limpiar()
    {

        this.entradasArticulos = new EntradasArticulos();
        ArticuloSelect = "0";




    }




    private void Guardar()
    {
        LlenaCombo();

        if (EntradaArtBLL.Guardar(entradasArticulos))
        {
            Limpiar();
            ArticuloSelect = "0";
            toast.ShowSuccess("Entrada guardada correctamente", "Exito");

        }
        else
        {
            toast.ShowError("Error al guardar la entrada", "Fallo");
        }

    }



    private void Eliminar()
    {
        EntradasArticulos entradaTemp = EntradaArtBLL.Buscar(entradasArticulos.EntradasArtId);

        if (entradaTemp != null)
        {
            if (EntradaArtBLL.Eliminar(entradasArticulos.EntradasArtId))
            {
                Limpiar();
                toast.ShowSuccess("Entrada eliminada correctamente.", "Exito");


            }
            else
            {
                toast.ShowError("Error al eliminar la entrada", "Fallo");

            }
        }

    }


    private void LlenaCombo()
    {
        entradasArticulos.ArticuloId = Convert.ToInt32(ArticuloSelect);
    }

}
